<div class="container-fluid">

    <div>
        <ul id="slide-out" class="side-nav fixed">
            <li>
                <div class="userView">
                    <button class="btn btn-block" ng-click="addTaskToBoard()"> New Todo </button>
                    <button class="btn btn-block" ng-click="addNewBoard()"> New Board </button>
                    <button class="btn btn-block" ng-click="deleteBoard()"> Delete Board </button>
                    <br>
                </div>
            </li>

            <div ng-repeat="task in tasks.slice() | filter: {depth : 0}">
                <li class="board-list">
                    <a class="waves-effect" ng-click="changeBoard(task)">
                        <span class="my-circle" style="background-color:black"></span>{{ task.content }}
                    </a>
                </li>
            </div>

        </ul>
        <!--<a href="#/" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>-->

    </div>

    <board board="curBoard" tasks="filteredTasks"></board>
</div>



