<div class="container-fluid">

    <div>
        <ul id="slide-out" class="side-nav fixed">
            <li>
                <div class="userView">
                    <a ng-click="addNewBoard()"><i class="material-icons md-48">note_add</i></a>
                    <a ng-click="deleteBoard()"><i class="material-icons md-48">delete</i></a>
                    <a ng-click="addTaskToBoard()"><h6>Add new Todo</h6></a>
                    <button class="btn btn-block">New Todo</button>
                    <br>
                </div>
            </li>

            <div ng-repeat="task in tasks.slice() | filter: {depth : 0}">
                <li>
                    <a class="waves-effect" ng-click="changeBoard(task)">
                        <span class="my-circle" style="background-color:black"></span>{{ task.content }}
                    </a>
                </li>
            </div>

        </ul>
        <!--<a href="#/" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>-->

    </div>

    <div class="container-fluid col-md-8 col-md-offset-0">
        <!-- Content for each board -->
        <div style="color:white" ng-show="curBoard.content">{{ curBoard.content }}</div>

        <div class="active-with-click col-md-4 col-sm-6 col-xs-12 task-container"
             ng-repeat="task in tasks.slice() | filter: taskGroupFilter() | filter: greaterThan('depth', 0)"
             ng-hide="task.done && !showCompleted">
            <task task="task" style="cursor: auto;"></task>
        </div>
        <datetimebox></datetimebox>
    </div>

    <board ng-show="curBoard.content" board="curBoard" tasks="tasks"></board>


</div>



