<td class="pull-left fixed-width-26">
    <div ng-class="{'done-text':ctrl.task.done}">
        <i class="material-icons" style="cursor: pointer"
           ng-click="isCollapsed = !isCollapsed">add</i>
    </div>
</td>

<td class="fluid-column">
    <!--<div ng-enter="newTask()" contenteditable ng-model="ctrl.task.content"-->
         <!--ng-class="{'done-text':ctrl.task.done}">-->
        <!--{{ ctrl.task.content }}-->
    <!--</div>-->
    <div class="text-container">
        <textarea rows="1" msd-elastic
                  spellcheck="false"
                  ng-model="ctrl.task.content"
                  ng-class="{'done-text':ctrl.task.done}"
                  ng-enter="newTask()">
            {{ ctrl.task.content }}
        </textarea>
    </div>


    <div uib-collapse="isCollapsed" ng-class="{'done-text':ctrl.task.done}">
        Generate a list of subposts here
    </div>
</td>

<td class="pull-right fixed-width-80">
    <div class="pull-right" ng-class="{'done-text':ctrl.task.done}">
        <i class="material-icons"
           ng-show="ctrl.task.due_date"
           uib-tooltip="{{ ctrl.task.due_date }}"
           tooltip-placement="top"
           style="cursor: pointer"
           ng-click="callDateTimePicker($event)">alarm</i>

        <i class="material-icons"
           ng-hide="ctrl.task.due_date"
           uib-tooltip="Add alarm"
           tooltip-placement="top"
           style="cursor: pointer"
           ng-click="callDateTimePicker($event)">add</i>

        <i class="material-icons" ng-click="markAsDone()" style="cursor: pointer">done</i>

        <!--clear all subtasks button, do this when we actually have subtasks-->
        <i class="material-icons" ng-click="markAsDone()" style="cursor: pointer">done_all</i>
    </div>
</td>
