<td class="pull-left fixed-width-26">
    <div ng-class="{'done-text':task.done}">
        <i class="material-icons" style="cursor: pointer"
           ng-click="isCollapsed = !isCollapsed">add</i>
    </div>
</td>

<td class="fluid-column">
    <!--<div ng-enter="newTask()" contenteditable ng-model="ctrl.task.content"-->
         <!--ng-class="{'done-text':ctrl.task.done}">-->
        <!--{{ ctrl.task.content }}-->
    <!--</div>-->
    <div class="text-container">
        <textarea rows="1" msd-elastic
                  spellcheck="false"
                  ng-model="task.content"
                  ng-class="{'done-text':task.done}"
                  ng-focus="setCurrentTask()"
                  ng-enter="newTask()">
            {{ task.content }}
        </textarea>
    </div>

    <div uib-collapse="isCollapsed"
         ng-class="{'done-text':task.done}"
         ng-repeat="child in task.children" ng-hide="child.done && !showCompleted">
        <task task="child" style="cursor: auto;"></task>

    </div>

</td>



<td class="pull-right fixed-width-80">
    <div class="pull-right" ng-class="{'done-text':task.done}">
        <i class="material-icons"
           ng-show="task.due_date"
           uib-tooltip="{{ task.due_date }}"
           tooltip-placement="top"
           style="cursor: pointer"
           ng-click="callDateTimePicker($event)">alarm</i>

        <i class="material-icons"
           ng-hide="task.due_date"
           uib-tooltip="Add alarm"
           tooltip-placement="top"
           style="cursor: pointer"
           ng-click="callDateTimePicker($event)">alarm_add</i>

        <i class="material-icons" ng-click="markAsDone()" style="cursor: pointer">done</i>

        <!--clear all subtasks button, do this when we actually have subtasks-->
        <i class="material-icons" ng-click="markAsDone()" style="cursor: pointer">done_all</i>
    </div>
</td>