
html, body, .container, textarea {
    height: 100%;
}

body {
    background: #775760 fixed; /* fallback for old browsers */
    background: -webkit-linear-gradient(#775760, #00354f) fixed; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#775760, #00354f) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

textarea.form-control {
    height: 80%;
    font-size: 15px;
    resize: none;
}

/*.material-icons:hover {*/
/*background-color: lightgrey;*/
/*}*/

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.done-text {
    color: lightgrey;
    text-decoration: line-through;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.table {
    border: none;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

.fixed-width-26 {
    width: 26px;
}

.fixed-width-80 {
    width: 80px;
}

.fluid-column {
    float: left;
    width: calc(100% - 120px);
}

.tc-textarea {
    resize: none;
    width: 100%;
    height: auto;
    outline: none;
    border: none;
}

:focus {
    outline: none;
    border: 0;
}

.datetimepicker {
    background-color: white;
    border-style: solid;
    z-index: 1000;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 341px;
    margin: 0.2rem;
    position: relative;
    width: 258px;
    opacity: 0.9;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/** {*/
    /*-webkit-border-radius: 0 !important;*/
    /*-moz-border-radius: 0 !important;*/
    /*border-radius: 0 !important;*/
/*}*/

.nav-wrapper {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: #08b1a2;
    font-family: 'Open Sans', sans-serif;
    z-index: 200;
}
.nav-wrapper .brand-logo {
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    padding-left: 2%;
}

.side-nav {
    background: transparent;
    z-index: 100;
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 267px;
    box-shadow: none;
}

.side-nav.fixed a {
    text-align: right;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.userView {
    height: 150px;
}

.my-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.task-container {
    padding-left: 0.1em;
    padding-right: 0.1em;
}

/*vertically align*/
.circle-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.material-card.mc-active .circle-container {
    display: none;
}