
html, body, .container, textarea {
    height: 100%;
}

body {
    background: #282B28;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

textarea.form-control {
    height: 80%;
    font-size: 15px;
    resize: none;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.done-text {
    color: lightgrey;
    text-decoration: line-through;
}

.table {
    border: none;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

.tc-textarea {
    resize: none;
    width: 100%;
    height: auto;
    outline: none;
    border: none;
}

:focus {
    outline: none;
    border: 0;
}

.datetimepicker {
    background-color: white;
    border-style: solid;
    z-index: 1000;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 341px;
    margin: 0.2rem;
    position: relative;
    width: 258px;
    opacity: 0.9;
}

.nav-wrapper {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    /*background-color: #BF211E;*/
    background-color: #E13C3C;
    font-family: 'Open Sans', sans-serif;
    z-index: 200;
    box-shadow: none;
}

.nav-wrapper .brand-logo {
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    padding-left: 2%;
    color: #dddddd;
}

.side-nav {
    top: 64px;
    background: transparent;
    z-index: 100;
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 267px;
    box-shadow: none;
}

.side-nav.fixed a {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.userView {
    text-align: center;
}

.my-circle {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.task-container {
    padding-left: 0.1em;
    padding-right: 0.1em;
}

/*vertically align*/
.circle-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.material-card.mc-active .circle-container {
    display: none;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

hgroup {
    color: white;
    font-family: 'Sofia', cursive;
    font-size: 60px;
}

input.form-control {
    color: white;
}
.login-submit {
    margin: 4rem 0 2.2rem;
}
.login-register {
    font-size: 1.2rem;
    color: white;
}
.register-submit {
    margin: 4rem 0 2.2rem;
}
.task-board {
    padding: 20px;
}

