html, body, .container, textarea {
    height: 100%;
    /*background-color: #ecf0f1;*/
}

textarea.form-control {
    height: 80%;
    font-size: 15px;
    resize: none;
}

/*.material-icons:hover {*/
    /*background-color: lightgrey;*/
/*}*/

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.done-text {
    color: lightgrey;
    text-decoration: line-through;
}

[contenteditable]:focus {
    outline: 0px solid transparent; }

.table{
    border: none;
}

.show {
  display: block !important;
}
.hidden {
  display: none !important;
}

.fixed-width-26 {
    width: 26px;
}

.fixed-width-80 {
    width: 80px;
}

.fluid-column {
    float:left;
    width: calc(100% - 120px);
}

.text-container textarea{
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

:focus {
    outline: none;
    border: 0;
 }
