hgroup {
    color: white;
    font-family: 'Sofia', cursive;
    font-size: 60px;
}

input.form-control {
    color: white;
}
.login-submit {
    margin: 4rem 0 2.2rem;
}
.login-register {
    font-size: 1.2rem;
    color: white;
}
.register-submit {
    margin: 4rem 0 2.2rem;
}

