html, body, .container, textarea {
    height: 100%;
}

body {
    background: #282B28;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

:focus {
    outline: none;
    border: 0;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}