.side-nav {
    top: 64px;
    background: transparent;
    z-index: 100;
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 267px;
    box-shadow: none;
}

.side-nav.fixed a {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.userView {
    text-align: center;
}

.my-circle {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}