.task-board {
    height: -o-calc(100vh - 65px); /* opera */
    height: -webkit-calc(100vh - 65px); /* google, safari */
    height: -moz-calc(100vh - 65px); /* firefox */
    height: calc(100vh - 65px);
    padding: 20px;
}

.task-container {
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.datetimepicker {
    background-color: white;
    border-style: solid;
    z-index: 1000;
}

.tc-textarea {
    resize: none;
    width: 100%;
    height: auto;
    outline: none;
    border: none;
}

.done-text {
    color: lightgrey;
    text-decoration: line-through;
}
