.task-board {
    height: -o-calc(100vh - 65px); /* opera */
    height: -webkit-calc(100vh - 65px); /* google, safari */
    height: -moz-calc(100vh - 65px); /* firefox */
    height: calc(100vh - 65px);
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    .task-board {
        padding-left: 0;
    }
}

.task-container {
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.datetimepicker {
    background-color: white;
    border-style: solid;
    z-index: 1000;
}

.tc-textarea {
    resize: none;
    width: 100%;
    height: auto;
    outline: none;
    border: none;
}

.done-text {
    color: lightgrey;
    text-decoration: line-through;
}

.close-card-button {
    position: absolute;
    top: 15px;
    right: 15px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    cursor: pointer;
    opacity: 0;
}

/*------for card flip-------*/
.task-container {
    perspective: 1000px;
}

.flipToBack {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipToFront {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flipper {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    backface-visibility: hidden;
    height: 0;
    padding-bottom: calc(100% + 0px);
}
.back {
    position: absolute;
    top: 0;
    width: 100%;
}


/* front pane, placed above back */
.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
/*------end card flip-------*/

.back p {
    height: 23px;
}

.add-subtask-input {
    border: solid;
}

.material-card .subtasks-container {
    padding: 30px;
}

.input-field .prefix.active{
    color: #3597d3;
}

.material-card .form-group {
    margin-top: 0;
}
.material-card input.form-control {
    height: 34px;
}


.subtasks-modal {
    max-height: 90%;
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.subtasks-modal .modal-content{
    background-color: transparent;
    box-shadow: none;
    border: none;
    margin: 0;
}

.subtasks-modal .modal-dialog {
    width: auto;
    padding: 0;
    margin: 0;
}

.subtasks-modal .close-card-button {
    opacity: 1
}

/*.subtasks-modal article, .subtasks-modal .front {*/
    /*height: 400px;*/
    /*padding: 0;*/
/*}*/

/*.modal-open .modal.subtasks-modal {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*.subtasks-modal .modal-content article {*/
    /*height：400px;*/
/*}*/

/*.subtasks-modal .modal-dialog{*/
    /*height: 200px;*/
/*}*/
